@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.custom-carousel-styles {
  height: 500px;
  max-width: 20rem;
  margin-top: 10rem;
  overflow: hidden;
}

@media screen and (min-width: 50.625rem) {
  .custom-carousel-styles {
    max-width: 640px;
    margin-top: 10rem;
  }
}

@media screen and (min-width: 75rem) {
  .custom-carousel-styles {
    height: 480px;
    max-width: 450px;
    margin-top: 0;
  }
}
